[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "countgmifs"]
	path = countgmifs
	url = https://github.com/kelliejarcher/countgmifs
[submodule "glmnetcr"]
	path = glmnetcr
	url = https://github.com/kelliejarcher/glmnetcr
[submodule "glmpathcr"]
	path = glmpathcr
	url = https://github.com/kelliejarcher/glmpathcr
[submodule "ordinalbayes"]
	path = ordinalbayes
	url = https://github.com/kelliejarcher/ordinalbayes
[submodule "ordinalgmifs"]
	path = ordinalgmifs
	url = https://github.com/kelliejarcher/ordinalgmifs
[submodule "srr"]
	path = srr
	url = https://github.com/ropensci-review-tools/srr
	registered = false
