[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "countgmifs"]
	path = countgmifs
	url = https://github.com/kelliejarcher/countgmifs
	shallow = true
	registered = true
[submodule "glmnetcr"]
	path = glmnetcr
	url = https://github.com/kelliejarcher/glmnetcr
	shallow = true
	registered = true
[submodule "glmpathcr"]
	path = glmpathcr
	url = https://github.com/kelliejarcher/glmpathcr
	shallow = true
	registered = true
[submodule "ordinalbayes"]
	path = ordinalbayes
	url = https://github.com/kelliejarcher/ordinalbayes
	shallow = true
	registered = true
[submodule "ordinalgmifs"]
	path = ordinalgmifs
	url = https://github.com/cran/ordinalgmifs
	shallow = true
	registered = true
