[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ordinalbayes"]
	path = ordinalbayes
	url = https://github.com/kelliejarcher/ordinalbayes
	shallow = true
	registered = true
